/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
header{
  float: right;
  background-color: rgba(0, 0, 0, .7);
  width: calc(100% - 200px);
  z-index: 999;
  padding: 15px;
  height: 100px;
}

.upgrade{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn{
  border: 2px solid white;
  border-radius: 50px;
  color: white;
}

.btn:hover{
  cursor: pointer;
}

.btn p{
  padding: 10px 35px;
  font-weight: bold;
}

/* SIDEBAR */
#sidebar{
  float: left;
  height: calc(100vh - 100px);
  width: 200px;
  background-color: black;
  color: grey;
}

/* MAIN */
main{
  float: left;
  width: calc(100vw - 200px);
  background-color: #141922;
  height: calc(100vh - 100px - 100px);
  overflow: auto;
}

/* FOOTER */
footer{
  float: left;
  width: 100vw;
  height: 100px;
  background-color:#282828;
}