/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
header{
  float: right;
  background-color: rgba(0,0,0,.9);
  width: calc(100% - 200px);
  z-index: 999;
  padding: 15px;
  height: 100px;
}

.upgrade{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn{
  border: 2px solid white;
  border-radius: 50px;
  color: white;
}

.btn:hover{
  cursor: pointer;
}

.btn p{
  padding: 10px 35px;
  font-weight: bold;
}

/* SIDEBAR */
#sidebar{
  float: left;
  padding: 15px;
  height: calc(100vh - 100px);
  width: 200px;
  background-color: black;
  color: grey;
  font-weight: bold;
}

.logo{
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 8%;
}
.logo img{
  width: 80%;
}

.nav ul{
  list-style: none;
}

.nav ul li{
  margin-bottom: 10px;
  padding-left: 15px;
}

.nav ul li a{
  text-decoration: none;
  color: #A3A3A3;
}

.nav ul li a img{
  width: 25px;
  height: 20px;
  margin-right: 5px;
}

#active-side{
  border-left: 2px solid #B5FF31;
}

#active-side a{
  color: white;
}

.playlist h2{
  margin: 15% 0 8% 0;
}

.playlist ul{
  list-style: none;
}

.playlist ul li{
  margin-bottom: 20px;
  padding-left: 15px;
}

.playlist ul li a{
  text-decoration: none;
  color: #A3A3A3 ;
  
}

.playlist ul li a i{
  font-size: 35px;
  margin-right: 5%; 
}

.side-bottom{
  position: fixed;
}

.side-bottom ul{
  list-style: none;
  align-items: flex-end; 
}

.side-bottom ul li{
  margin-bottom: 10px;
  padding-left: 15px;
}

.side-bottom ul li a{
  text-decoration: none;
  color: #A3A3A3;
}

.side-bottom ul li a img{
  width: 25px;
  height: 20px;
  margin-right: 5px;
}

.download{
  margin-bottom: 10%;
  padding-bottom: 5%;
  border-bottom: 1px solid grey;
}

.profilo{
  color: white;
}

.profilo img{
  color: white;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 50%;
}

.profilo p{
  display: inline-block;
  color: white;
}


/* MAIN */
main{
  float: left;
  width: calc(100vw - 200px);
  background-color: #141922;
  height: calc(100vh - 100px - 100px);
  overflow: auto;
}

/* FOOTER */
footer{
  float: left;
  width: 100vw;
  height: 100px;
  background-color:#282828;
}